.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
   
  }

  .carousel-caption {
    position: absolute;
    bottom: 30%;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    text-align: left;
  }

   .card.active-card img {
    transform: scale(1.5);
  }

  .inactive-card img{
      background-color: rgb(146, 5, 5);
      z-index: 100px;
  }

  .carousel .carousel-status {
    position: absolute;
    top: 375px;
    right: 0;
    padding: 3px !important;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    color: #fff;
    background-color: black !important;
    border-radius: 5px;
}

.thumb img{
  height: 60px !important;
}

  @media (max-width: 768px) {
    /* Adjust styles for mobile view here */
    .carousel-caption {
      position: absolute;
      bottom: 13%; /* Adjust as needed */
      left: 17px; /* Adjust as needed */
      transform: translateX(0); /* Reset translation */
      text-align: left; /* Center text */
    }
  
    .card.active-card img {
      transform: scale(1); /* Reset scale */
    }
  
    .inactive-card img {
      background-color: transparent; /* Reset background color */
      z-index: auto; /* Reset z-index */
    }
  }